/* Bhavani Sathvika Dannapaneni */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --med-gray: #555;
    --yellow: #F6D64A;
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --side-margins: 40px;
}

* {
    line-height: 150%;
}
h1 {
    font-size: 2.125rem;
    font-weight: bold;
}
h2 {
    font-size: 1.875rem;
    font-weight: bold;
}
h3 {
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 150%;
}

h3 > span {
    font-size: 12px;
    font-weight: normal;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Molle', sans-serif;
    font-style: italic;
}

h4, p, q, small, nav, button, form, span {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: none;
}

#skip {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    background-image: linear-gradient(var(--blue), white) ;
}

header h1, header p {
    padding: 0px var(--side-margins);
}

q::before {
    content: "“";
}

q::after {
    content: "”";
}

main {
    padding-top: 50px;
}

main #intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px
}

#intro > h2, #intro > p {
    padding-left: var(--side-margins);
    padding-right: var(--side-margins)
}

main #img-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
}
main #img-grid img {
    width: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

#plan, #about, #testimonials, #contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px var(--side-margins);
}

#plan div, #about div, #testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

div > section {
    margin: auto;
    width: 75%;
}

div > section > * {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
}

#plan > div > section {
    width: 80%;
    padding: 20px;
    background-color: var(--teal);
    border-radius: 8px;
    border: 2px solid var(--white);
}

#plan > div > section > * {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

#testimonials > div > section > img {
    display: block;
    width: 60%;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#plan {
    background-color: var(--yellow);
}

#contact div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left; 
}

#contact label, #contact legend {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

#contact label span {
    font-weight: normal;
    text-transform: none;
}

#contact .custom-select {
    width: 100%;
}
#contact input, #contact select {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid var(--purple);
    padding: 10px;
}

#contact input {
    height: 30px;
}

#contact input[type="radio"] {
    display: inline-block;
    appearance: none;
    width: 30px;
    height: 30px;
    outline: 0.1em solid var(--purple);
    padding: 0.4em;
    border-radius: 50%;
    border: .4em solid white;
    margin-bottom: 0px;
}

#contact input[type="radio"]:checked {
    background-color: var(--purple);
}

#contact fieldset label {
    display: flex;
    gap: 10px;
    align-items: center;
}

#contact #nums span {
    display: inline-block;
}

#contact input#mySubmit {
    text-transform: uppercase;
    height: 50px;
    color: var(--white);
    background-color: var(--purple);
}

#contact fieldset input {
    width: unset;
}

#about {
    background-color: var(--blue);
}

footer {
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 20px var(--side-margins);
}

footer a {
    text-decoration: none;
    color: var(--black);
}